
.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: middle;
	margin-right: 2px;
}
.icon_login{
	width: 17px;
	height: 18px;
	background-image: url("../img/global/icon-login.png");
}
.icon_logout{
	width: 17px;
	height: 18px;
	background-image: url("../img/global/icon-logout.png");
}
.icon_account{
	width: 16px;
	height: 16px;
	background-image: url("../img/global/icon-account.png");
}
.icon_cart{
	width: 16px;
	height: 16px;
	background-image: url("../img/global/icon-cart.png");
}
.icon_heart{
	width: 16px;
	height: 16px;
	background-image: url("../img/global/icon-heart.png");
}


.btn{
	color: #282119;
	display: inline-block;
	height: 24px;
	font-size: 16px;
	text-decoration: none !important;
	vertical-align: middle;
	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.btn span{
	line-height: 24px;
	vertical-align: middle;
	border-bottom: 1px dashed transparent;
}
.btn:hover span{
	line-height: 24px;
	vertical-align: middle;
	border-bottom-color: #282119;
}

.btn_brdr{
	border: 1px solid #282119;
	color: #282119;
	padding: 0 10px;
	text-align: center;
}
.btn_brdr span{
	border: none!important;
}
.btn_brdr:hover{
	border-color: #8b8783;
}

.btn_solid{
	color: #fff;
	background: #282119;
	border: 1px solid #282119;
	text-align: center;
}
.btn_solid span{
	border: none!important;
}
.btn_solid:hover{
	color: #fff;
	background: #8b8783;
	border-color: #282119;
}


.wrapper {
	width: 1280px;
	margin: 0 auto;
	min-height: 100%;
	background: #fff;
	}

.inner{
	margin: 0 55px;
}





/*checkbox & radio buttons*/

.input-field{
	display: block;
	position: relative;
	margin: 8px 0;
	color: #757b87;
	line-height: 1.2;
}
.input-field input{
	opacity: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
}
.input-field label{
	display: inline-block;
	padding-left: 17px;
	cursor: pointer;
}
.input-field .marker{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
	top: 3px;
	left: 0;
	border: 1px solid #888;
}
.input-field input[type="checkbox"] + .marker{
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
.input-field input[type="checkbox"]:checked + .marker{
	background: url("../img/global/checkbox.png") 50% 50% no-repeat;
	border-color: #282119;
}
.input-field input[type="radio"] + .marker{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.input-field input[type="radio"]:checked + .marker:before{
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	margin: 2px;
	background: #000;
}
.input-field input[type="checkbox"]:hover ~ span,
.input-field input[type="checkbox"]:checked ~ span,
.input-field input[type="radio"]:checked ~ span{
	color: #282119;
}





/*	Header start
*****************************************************************************/
.header {
	}

.header-nav{
	text-align: right;
	padding: 5px 0 8px;
	font-size: 16px;
}
.header-nav li{
	display: inline-block;
	margin-left: 20px;
}
.header-nav li a{
	vertical-align: middle;
}

.header-account{
	text-align: right;
	margin-top: 35px;
}
.header-account__item{
	margin-left: 18px;
}
.header-account__item i,
.header-account__item span
{
	vertical-align: middle;
	line-height: 24px;
}
.header-account__item span{
	border-bottom: 1px dashed transparent;
}
.header-account__item span:hover{
	border-bottom: 1px dashed #282119;
}
.header-account__cart{
}
.header-account__cart .num{
	padding-left: 10px;
	position: relative;
	margin-left: 5px;
}
.header-account__cart .num:before{
	content: '';
	width: 1px;
	height: 26px;
	background: #fff;
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
}

.header-account__cart:hover{
	background: #8b8783;
	color: #fff;
	text-decoration: none;
}
.header-account__cart:hover span{
	border: none;
}

.header-account__input {
	position: relative;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.header-account__input input[type="text"]{
	border: 1px solid #282119;
	margin: 0;
	padding: 0 30px 0 10px;
	line-height: 24px;
	height: 24px;
}
.header-account__input input[type="button"]{
	border: none;
	margin: 0;
	padding: 0;
	height: 24px;
	width: 24px;
	cursor: pointer;
	background: url("../img/global/icon-search.png") no-repeat 50% 50%;
	position:  absolute;
	top: 1px;
	right: 1px;
}

.header-slog{
	color: rgba(40, 33, 25, 0.71);
}
.header-slog img {
	height: 40px;
	margin-top: -33px;
}

/*****************************************************************************
	Header end */


.nav{
	margin: 20px 0 35px;
}
.nav-list{
	position:relative;
	display: inline-table;
}
.nav-item{
	/*display: inline-block;*/
	font-size: 16px;
	padding-right: 25px;
	position:relative;
	display: table-cell;
}
.nav-link{
	text-transform: uppercase;
	text-decoration:none!important;
	position:relative;
	padding-bottom:7px;
}
.nav-item:hover .nav-link:before{
	content:'';
	width:1px;
	height:30px;
	display:block;
	position:absolute;
	background:#d4d3d1;
	bottom:0;
	left:-15px;
}
.nav-item_action{
	color: #fd0820;
}

.nav-item:hover .subnav{
	display:block;
}

/**/

.tt{
	display:inline-table;
	float:none!important;
}
.tc{
	display:table-cell;
	float:none!important;
	vertical-align:top;
}

.subnav{
	position:absolute;
	z-index:100;
	text-transform:none;
	border:1px solid #d4d3d1;
	background:#fff;
	line-height:1.4;
	margin-top:7px;
	margin-left:-15px;
	border-right:none;
	display:none;
}
.subnav-menu{
	font-size:16px;
	padding:15px;
	float:left;
	background:#fcfcfc;
}
.subnav-menu a{
	display:block;
	position:relative;
	text-decoration:none;
	padding-right:30px;
	color:#7e7d7b;
	line-height:1.5;
}
.subnav-menu a:after{
	content:'';
	display:block;
	position:absolute;
	top:8px;
	right:10px;
	opacity:0;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;

	width: 4px;
	height: 8px;
	background: url("../img/global/menu-marker.png") no-repeat 0 0;
}
.subnav-menu a.active{
	color:#282119;
}
.subnav-menu a.active:after{
	right:0;
	opacity:1;
}
.subnav-cat{
	font-size:14px;
	/*padding:15px;*/
}
.cat-part{
	padding:15px;
	border-right:1px solid #d4d3d1;
}
.subnav-cat .cat-title{
	font-size:16px;
	margin-bottom:5px;
}

.subnav-cat a{
	display:block;
	white-space:nowrap;
	color:#7e7d7b;
	text-decoration:none!important;
	position:relative;
	left:0;
	padding-right:30px;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.subnav-cat a:before{
	content:'';
	display:block;

	position:absolute;
	top:7px;
	left:-10px;
	opacity:0;

	transition:opacity 0.2s ease;
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;

	width: 4px;
	height: 8px;
	background: url("../img/global/menu-marker.png") no-repeat 0 0;
}
.subnav-cat a:hover{
	color:#282119;
	left:10px;
}
.subnav-cat a:hover:before{
	opacity:1;
}

.cat-wrap{display:none;}
.cat-wrap.active{display:block;}


/**/





















.section-title{
	overflow: hidden;
	position: relative;
	margin: 50px 0 30px;
}
.section-title .line{
	position: absolute;
	height: 1px;
	width: 100%;
	background: #d4d3d1;
	top: 50%;
	left: 0;
}
.section-title .text{
	float: left;
	font-weight: 100;
	font-size: 24px;
	color: #282119;
	text-transform: uppercase;
	background: #fff;
	padding-right: 20px;
	position: relative;
	line-height: 24px;
}
.section-title .link{
	float: right;
	font-weight: 100;
	font-size: 16px;
	color: #282119;
	line-height: 24px;
	background: #fff;
	padding-left: 20px;
	position: relative;
}
.section-title .link:after{
	content: '';
	display: inline-block;
	border: 5px solid transparent;
	border-left-color: #282119;
	margin-left: 7px;
	position: relative;
	top: 1px;
}


.section_menu .menu-list{
	display: inline-table;
	width: 100%;
	padding: 20px 0;
	font-size: 12px;
}
.section_menu .menu-item{
	display: table-cell;
	text-align: center;
}


.bigposter{
	position: relative;
}
.bigposter-img img{
	width: 100%;
}
.bigposter-btn{
	color: #282119;
	height: 24px;
	position: absolute;
	top: 60%;
	left: 6.4%;
}
.bigposter-btn::after{
	content: '';
	display: inline-block;
	border: 5px solid transparent;
	border-left-color: #282119;
	margin-left: 10px;
	margin-right: -5px;
}



.section_posters{}
.posters-list{
	margin: 0 -12px;
}
.posters-item{
	display: block;
	float: left;
	width: 374px;
	width: 33.3333%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:  8px 12px;
	text-align: center;
}
.posters-img{
	background: #f7f7f7;
	/*height: 476px;*/
}
.posters-img img{
	display: block;
	width: 100%;
}
.posters-item_sml .posters-img{
	/*height: 205px;*/
}
.posters-text{
	background: #ededed;
	font-size: 14px;
	color: #424242;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	height: 50px;
}
.posters-text:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.posters-text span{
	display: inline-block;
	vertical-align: middle;
	width: 95%;
}
.subscribe{
	margin-top: 70px;
}
.subscribe .inner{
	background: #fcfcfc;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.subscribe__title{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 0 7px;
	vertical-align: middle;
}
.subscribe__text{
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	margin: 0 7px;
	vertical-align: middle;
}
.subscribe__form{
	display: inline;
	font-size: 0;
	vertical-align: middle;
}
.subscribe__form-input{
	border: 1px solid #282119;
	height: 24px;
	width: 185px;
	margin: 0;
	padding: 0 7px;

	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	border-right: none;

}
.subscribe__form-btn{
	background: #282119;
	border: 1px solid #282119;
	height: 24px;
	color: #fff;
	line-height: 20px;
	width: 130px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}
.subscribe__form-btn:hover{
	background: #8b8783;
	color: #fff;
	text-decoration: none;
}

.breadcrumbs{
	padding: 10px 0;
	font-weight: 100;
}
.breadcrumbs-item{
	display: inline-block;
}
.breadcrumbs-item:before{
	content: '/';
	display: inline-block;
	margin: 0 5px 0 3px;
}
.breadcrumbs-item:first-child:before{
	content: '';
	margin: 0;
}














.section_description{
	background: #fcfcfc;
	padding: 30px 0 40px;
}

.description-title{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.description-list{
	margin: 10px 0 15px;
}
.description-list li{
	list-style: disc;
	margin-left: 15px;
}
.description-list .dim{
	width: 180px;
	border-bottom: 1px dotted #282119;
}
.description-list .dim .dim-val{
	float: right;
	padding-left: 3px;
}
.description-list .dim .dim-key{
	padding-right: 3px;
}
.description-list .dim .dim-val,
.description-list .dim .dim-key{
	background: #fcfcfc;
	position: relative;
	bottom: -1px;
	display: inline-block;
}


.section_description .title{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
}
.section_description .description{
	margin: 0 10% 0 20%;
}
.description-aside{
	width: 50%;
	float: left;
}

.description-cond__title{
	margin: 10px 0;
}
.description-cond__title span{
	display: inline-block;
	vertical-align: middle;
	min-width: 75px;
}
.description-cond__text .more{
	font-size: 12px;
	color: #a8a7a5;
	display: block;
	margin: 10px 0 30px;
	font-weight: 100;
}






.section_wear .inner{
	padding: 15px 0 60px;
}
.section_wear .wear-img{
	margin-top: 20px;
	width: 60%;
	float: left;
	display: inline-table;
}
.wear-img__preview{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.wear-img__preview-item{
	width: 50px;
	height: 80px;
	border: 1px solid #fff;
	cursor: pointer;
	margin: 5px;
	display: block;
}
.wear-img__preview-item.active,
.wear-img__preview-item:hover{
	width: 50px;
	height: 80px;
	border-color: #d4d3d1;
}
.wear-img__preview-item img{
	height: 100%;
}
.wear-img__big{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.section_wear .wear-descr{
	margin-left: 60%;
}

.wear-descr__info{
	display: inline-table;
	width: 100%;
}
.wear-descr__info-text{
	display: table-cell;
	vertical-align: middle;
}
.wear-descr__info-logo{
	display: table-cell;
	width: 10%;
	vertical-align: middle;
}
.wear-descr__color{
	border-top: 1px solid #a9a6a3;
	border-bottom: 1px solid #a9a6a3;
	padding: 17px 0;
	overflow: hidden;
}
.wear-descr__color-title{
	float: left;
}
.wear-descr__color-list{
	margin-left: 45px;
}
.wear-descr__color-item{
	display: inline-block;
	width: 68px;
	height: 68px;
	border: 1px solid #d4d3d1;
	margin: 3px;
	cursor: pointer;
}
.wear-descr__color-item:hover,
.wear-descr__color-item.active{
	border-color:#282119;
}

.wear-descr__add{
	margin-top: 50px;
}

.wear-descr__add .btn{
	display: block;
	width: 280px;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	height: 34px;
	line-height: 34px;
	margin-bottom: 5px;
}
.wear-descr__price{
	font-size: 30px;
}
.wear-descr__text{
	text-decoration: none;
	margin: 10px 0;
}
.wear-descr__text a{
	color: #969492;
	text-decoration: none;
}
.wear-descr__text a:hover{
	text-decoration: underline;
}
.wear-descr__share {
	padding: 30px 0;
}
.wear-descr__share span{
	display: inline-block;
	border-right: 1px solid #282119;
	vertical-align: middle;
	padding-right: 10px;
	margin-right: 20px;
}
.wear-descr__share a{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	opacity: 0.4;


}
.wear-descr__share a:hover{
	opacity: 1;

}









/*	Footer start
*****************************************************************************/
.footer {
	position: relative;
	}

.footer__nav{
	padding: 20px 0;
}
.footer__nav-list{
	width: 25%;
	float: left;
}
.footer__nav-item {
	margin-bottom: 7px;
}
.footer__nav-item a{
	font-weight: 100;
	text-transform: uppercase;
}
.footer__nav-item_title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer__nav .phone{
	font-size: 24px;
	font-weight: 100;
}
.footer__nav .email{
	font-size: 20px;
	font-weight: bold;
}


.footer__rights{
	text-align: center;
	color: #959595;
	font-weight: 100;
	border-top: 1px solid #d4d3d1;
	border-bottom: 1px solid #d4d3d1;
	padding: 8px 0 13px;
}
.footer__credit{
	margin:28px 0;
}
.footer__credit .credit-card{
	display:inline-block;
	border:1px solid #c6c6c6;
	margin-right:7px;
}
.footer__credit .credit-card img{
	display:block;
}
.footer__copy{
	font-size:12px;
	color:#959595;
	margin:28px 0;
}

/*****************************************************************************
	Footer end */









.carousel-wrap{
	padding: 0 70px;
	margin: 30px 0;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 31px;
	height: 61px;
	text-indent: -9999px;
	opacity: .3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}
.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.carousel .owl-nav .owl-prev{
	background: url("../img/global/carousel-prev.png") no-repeat 50% 50%;
	left: -70px;
}
.carousel .owl-nav .owl-next{
	background: url("../img/global/carousel-next.png") no-repeat 50% 50%;
	right: -70px;
}






.carousel_category{
	margin-right: -5px;
}
.carousel_category .owl-item{
	height: 240px;
}
.carousel_category .carousel-img{
	height: 170px;
	width: 170px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fff;
	margin: 20px auto 15px;
	overflow: hidden;
}
.carousel_category .carousel-img img{
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.carousel_category .carousel-txt{
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.carousel_category .carousel-item{
	/*height: 100%;*/
	overflow: hidden;
	position: relative;
	margin: 0 5px 5px 0;
	float: left;
	display: block;

	height: 240px;
	width: 202px;
	text-decoration: none!important;
}

.carousel_category .carousel-item.bg-color-violet{
	background: #e5a5f1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlNWE1ZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2QzY2IyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #e5a5f1 0%, #7d3cb2 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5a5f1), color-stop(100%,#7d3cb2));
	background: -webkit-radial-gradient(center, ellipse cover,  #e5a5f1 0%,#7d3cb2 100%);
	background: -o-radial-gradient(center, ellipse cover,  #e5a5f1 0%,#7d3cb2 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #e5a5f1 0%,#7d3cb2 100%);
	background: radial-gradient(ellipse at center,  #e5a5f1 0%,#7d3cb2 100%);
}
.carousel_category .carousel-item.bg-color-orange{
	background: #f1c33a;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMWMzM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTc1NTFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #f1c33a 0%, #e7551b 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f1c33a), color-stop(100%,#e7551b));
	background: -webkit-radial-gradient(center, ellipse cover,  #f1c33a 0%,#e7551b 100%);
	background: -o-radial-gradient(center, ellipse cover,  #f1c33a 0%,#e7551b 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #f1c33a 0%,#e7551b 100%);
	background: radial-gradient(ellipse at center,  #f1c33a 0%,#e7551b 100%);
}
.carousel_category .carousel-item.bg-color-green{
	background: #acf559;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhY2Y1NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzJiNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #acf559 0%, #72b707 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#acf559), color-stop(100%,#72b707));
	background: -webkit-radial-gradient(center, ellipse cover,  #acf559 0%,#72b707 100%);
	background: -o-radial-gradient(center, ellipse cover,  #acf559 0%,#72b707 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #acf559 0%,#72b707 100%);
	background: radial-gradient(ellipse at center,  #acf559 0%,#72b707 100%);
}
.carousel_category .carousel-item.bg-color-blue{
	background: #a8e5ff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhOGU1ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDlhM2M3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #a8e5ff 0%, #49a3c7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8e5ff), color-stop(100%,#49a3c7));
	background: -webkit-radial-gradient(center, ellipse cover,  #a8e5ff 0%,#49a3c7 100%);
	background: -o-radial-gradient(center, ellipse cover,  #a8e5ff 0%,#49a3c7 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #a8e5ff 0%,#49a3c7 100%);
	background: radial-gradient(ellipse at center,  #a8e5ff 0%,#49a3c7 100%);
}
.carousel_category .carousel-item.bg-color-brown{
	background: #fcb7ac;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmY2I3YWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjkxMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #fcb7ac 0%, #691000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcb7ac), color-stop(100%,#691000));
	background: -webkit-radial-gradient(center, ellipse cover,  #fcb7ac 0%,#691000 100%);
	background: -o-radial-gradient(center, ellipse cover,  #fcb7ac 0%,#691000 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #fcb7ac 0%,#691000 100%);
	background: radial-gradient(ellipse at center,  #fcb7ac 0%,#691000 100%);
}


.carousel_brands .carousel-item{
	height:100%;
}

.carousel_brands .carousel-item a{
	display:inline-block;
	vertical-align:middle;
}

.carousel_brands .carousel-item:after{
	content:'';
	display:inline-block;
	vertical-align:middle;
	height:100%;
}



.prodcard-item{
	height: 520px;
	border: 1px solid #fff;
	padding: 0 9px;
	transition: border-color 0.15s ease;
	position: relative;
}
.prodcard-item:hover{
	border-color: #d4d3d1;
}
.prodcard-img{
	text-align: center;
	height: 350px;
}
.prodcard-item img{
	max-height: 100%;
	max-width: 100%;
}
.prodcard-type{
	text-align: center;
	border-bottom: 1px solid #d4d3d1;
	padding: 6px 0 5px;
	height: 50px;
}
.prodcard-type__link{
	display: none;
	margin: 0 5px;
	border: 1px solid transparent;
	height: 50px;
}
.prodcard-type__link:hover{
	border: 1px solid #d4d3d1;
}
.prodcard-type__text{
	display: block;
	text-align: left;
	margin-top: 25px;
}


.prodcard-item:hover .prodcard-type__link{display: inline-block;}
.prodcard-item:hover .prodcard-type__text{display: none;}

.prodcard-txt {
	padding-top: 8px;
}
.prodcard-txt .title{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #282119;
	font-weight: 600;
	margin-bottom: 4px;
}
.prodcard-txt .descr{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 100;
	margin-bottom: 4px;
}
.prodcard-txt .price{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #897e72;
	font-size: 16px;
	font-weight: 100;
}
.prodcard-txt .favorite{

	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.prodcard-txt .favorite i,
.prodcard-txt .favorite span {
	vertical-align: middle;
	line-height: 24px;
}
.prodcard-txt .favorite span{
	border-bottom: 1px dashed transparent;
}
.prodcard-txt .favorite span:hover{
	border-bottom: 1px dashed #282119;
}



.prodcard-txt .buy{
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.prodcard-txt .buy i,
.prodcard-txt .buy span {
	vertical-align: middle;
	line-height: 24px;
}
.prodcard-txt .buy:hover{
	background: #8b8783;
	color: #fff;
	text-decoration: none;
}

.prodcard-item:hover .prodcard-txt .favorite{opacity: 1;}
.prodcard-item:hover .prodcard-txt .buy{opacity: 1;}










.carousel_brands .owl-item{
	height: 80px;
	text-align: center;
}
.carousel_brands .carousel-img img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}




.catalog-nav{
	width:250px;
	float:left;
}
.catalog-nav__title{
	font-size: 16px;
	font-weight: 100;
	margin: 7px 0;
}
.catalog-nav__title.big{
	font-size: 20px;
	font-weight: 400;
}
.catalog-nav__list{
	margin-left: 20px;
	color: #7e7d7b;
}
.catalog-nav__list a{
	position: relative;
	left: 0;
	display: inline-block;
	margin: 2px 0;
	transition: left 0.15s ease;
}
.catalog-nav__list a:before {
	content: "";
	display: block;
	left: -10px;
	opacity: 0;
	position: absolute;
	top: 7px;

	transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-webkit-transition: opacity 0.2s ease 0s;


	width: 4px;
	height: 8px;
	background: url("../img/global/menu-marker.png") no-repeat 0 0;
}
.catalog-nav__list a:hover,
.catalog-nav__list a.active{
	color: #282119;
	text-decoration: none;
	left: 10px;
}
.catalog-nav__list a:hover:before,
.catalog-nav__list a.active:before {
	opacity: 1;
}

.catalog-nav__filters {
	margin: 30px 0;
}
.catalog-nav__filters .filter{
	border: 1px solid #d4d3d1;
	margin-bottom: -1px;
}
.catalog-nav__filters .filter-title{
	padding: 0 10px;
	height: 33px;
	font-size: 16px;
	line-height: 33px;
}

.catalog-nav_info .catalog-nav__title{
	color: #ff6e08;
	font-size: 18px;
}



.filter-title_in{
	cursor: pointer;
	position: relative;
}
.filter-title_in:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 1px;
	background: #68635e;
	top: 17px;
	right: 10px;
}
.filter-title_in:before{
	content: '';
	position: absolute;
	width: 1px;
	height: 15px;
	background: #68635e;
	top: 10px;
	right: 17px;
}
.filter.open .filter-title_in:before{
	display: none;
}
.filter-title_in + .filter-inner{
	display: none;
}
.filter.open .filter-title_in + .filter-inner{
	display: block;
}


.catalog-nav__filters .filter_color .colors-list{
}
.colors-picker .colors-pick {
	background: #f6f6f6;
	padding: 4px 30px 4px 4px;
	position: relative;
	margin: 4px 0;
}
.colors-picker .colors-pick__color {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
.colors-picker .colors-pick__name {
	display: inline-block;
	vertical-align: middle;
}
.colors-picker .colors-pick__close {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 10px;
	width: 15px;
	height: 15px;
	background: url("../img/global/clear.png") no-repeat 50% 50%;
	cursor: pointer;
	opacity: 0.7;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}
.colors-picker .colors-pick__close:hover{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.catalog-nav__filters .filter_color .color-item{
	width: 47px;
	height: 27px;
	display: inline-block;
	margin-bottom: 2px;
	cursor: pointer;
}
.catalog-nav__filters .filter-inner{
	padding: 10px;
}

.slider-line{
	position: relative;
	height: 3px;
	background: #d4d3d1;
	margin: 20px 0 30px;
}
.slider-line__from{
	position: absolute;
	top: -20px;
	left: 0;
	text-align: left;
	color: #7e7d7b;
}
.slider-line__to{
	position: absolute;
	top: -20px;
	right: 0;
	text-align: right;
	color: #7e7d7b;
}
.ui-slider-handle{
	width: 6px;
	height: 9px;
	background: #282119;
	position: absolute;
	margin: 8px 0 0 -3px;
}
.ui-slider-handle:before{
	content: '';
	border: 3px solid transparent;
	border-bottom-color: #282119;
	position: absolute;
	top: -6px;
	left: 0;
}
.ui-slider-range{
	position: absolute;
	background: #282119;
	top: 0;
	height: 3px;
}


.catalog-nav__filters .slider-input{
	text-align: center;
}
.catalog-nav__filters .slider-input span{
	display: inline-block;
	vertical-align: middle;
	color: #7e7d7b;
}
.catalog-nav__filters .slider-input span input{
	display: inline-block;
	border: 1px solid #d4d3d1;
	width: 65px;
	text-align: center;
	margin: 0 3px;
}

.filter-clear{
	text-align: right;
	padding-top: 15px;
}



.catalog-content{
	margin-left:255px;
}
.catalog-list{}
.catalog-list__head{
	overflow: hidden;
	border-bottom: 1px solid #d4d3d1;
	padding: 10px;
}
.catalog-list__title{
	font-weight: bold;
	font-size: 20px;
	float: left;
}
.catalog-list__control{
	float: right;
	white-space: nowrap;
}
.catalog-list__paginator{display: inline-block}
.catalog-list__control-btns{display: inline-block}

.catalog-list__control-btns .control-btn{
	cursor: pointer;
	border-left:1px solid #d4d3d1;
	padding: 0 45px 0 15px;
	position: relative;
}

.catalog-list__control-btns .control-btn:after{
	content: '';
	width: 14px;
	height: 7px;
	position: absolute;
	top: 7px;
	right: 10px;
	background: url('../img/global/drop-arrow_down.png') no-repeat 0 0;
}

.catalog-list__control-btns .control-btn.active:after{
	background-image: url('../img/global/drop-arrow_up.png');
}


.pagin-btn{
	display: inline-block;
	padding: 0 3px 2px;
}
.pagin-btn_page.active{
	background: #282119;
	color: #fff;
	text-decoration: none!important;
}
.pagin-btn_prev,
.pagin-btn_next{
}
.pagin-btn_prev:after,
.pagin-btn_next:after{
	content: '';
	border: 5px solid transparent;
	display: inline-block;
}
.pagin-btn_prev:after{
	border-right-color: #282119;
}
.pagin-btn_next:after{
	border-left-color: #282119;
}
.catalog-list__menu-target .menu-list{
	text-align: center;
	display: none;
	border-bottom: 1px solid #d4d3d1;
	color: #7e7d7b;
}
.catalog-list__menu-target .menu-list.active{display: block;}
.catalog-list__menu-target .menu-item{
	display: inline-block;
}
.catalog-list__menu-target .menu-link{
	padding: 5px 10px 8px;
	display: inline-block;
}
.catalog-list__menu-target .menu-link.active{
	color: #282119;
}



.filter .checkbox_list{
	max-height: 300px;
}





.catalog-list .prodcard-list{
	overflow: hidden;
	margin: 30px 0;
}
.catalog-list .prodcard-item{
	margin:10px;
	width:27%;
	float:left;
	box-sizing:border-box;
}
.catalog-list .prodcard-item:nth-of-type(3n-1){
	margin:10px 65px;
}



/*order*/


.section_title{
	font-size: 36px;
	font-weight: 600;
	margin: 0 55px 15px;
}

.section_order{
	padding-bottom: 50px;
}

.order-group{
	margin: 0 55px;
	padding: 15px 0;
}
.order-group i{
	font: inherit;
}
.order-group_wrong{
	background: #fffafb;
}
.order-group .color{color: #ff6e08;}
.order-item_few .color{color: #fd0820;}


.order-head{
	padding: 10px 20px 10px;
	overflow: hidden;
}
.order-head__title{
	font-size: 24px;
	font-weight: 600;
	width: 50%;
	float: left;
}
.order-head__footnote{
	margin-left: 50%;
	text-align: right;
	padding-top: 5px;
}

.order-table{width: 100%}
.order-table th,
.order-table td{
	border: 1px solid #e5e5e5;
	border-right: none;
	vertical-align: middle;
	text-align: center;
}
.order-table th:first-child,
.order-table td:first-child{
	border-left: none;
}
.order-table th{
	font-size: 14px;
	font-weight: 300;
}
.order-table td{
	padding: 5px;
}
.order-table .check{
	text-align: center;
	width: 20px;
}
.order-table .name{
	text-align: left;
	width: 28%;
}
.order-table .name-img{
	float: left;
	width: 70px;
	text-align: center;
}
.order-table .name-img img{
	max-height: 80px;
	max-width: 60px;
}




.catalog-content .order-foot i{font: inherit}
.catalog-content .order-body .color,
.catalog-content .order-foot .color{color: #ff6e08;}

.catalog-content .order-table th{
	padding: 10px;
	border: 1px solid #e5e5e5;
}
.catalog-content .order-table td{
	border: 1px solid #e5e5e5;
}
.catalog-content .status-error{
	font-weight: 600;
	color: #fd0820;
}
.catalog-content .status-ok{
	font-weight: 600;
	color: #2e9506;
}





.order-table .name-table{
	margin-left: 80px;
}
.order-table .name-table th,
.order-table .name-table td{
	border: none;
	padding: 1px;
	text-align: left;
}
.order-table .name-table th{
	font-weight: 600;
}
.order-table .name-table td:first-child{
	color: #8c8984;
	padding-right: 15px;
}
.order-table .pict{}
.order-table .increase{width: 120px}
.order-table .price-uno .price-rub{font-size: 18px;margin-bottom: 10px;}
.order-table .price-uno .price-rub span{font-weight: 600;}
.order-table .price-uno .price-usd{color: #8c8984;}
.order-table .price-sum{}
.order-table .price-sum .price-rub{font-size: 18px;margin-bottom: 10px;}
.order-table .price-sum .price-rub span{font-weight: 600;}
.order-table .price-sum .price-usd{color: #8c8984;}
.order-table .status{}
.order-table .status .status-mes{
	margin-bottom: 10px;
}
.order-table .status .status-del .btn{
	display: inline-block;
	padding: 0 15px;
	border: 1px solid #8c8984;
	text-align: center;
	min-width: 100px;
	line-height: 18px;
	height: 20px;
	font-size: 14px;
}
.order-table .input-field{
	display: inline-block;
	margin: 0;
}




.increase-box{
	display: inline-block;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	position: relative;
	padding-right: 30px;
}
.increase-box .increase-num{
	display: block;
	text-align: center;
	padding: 0;
	height: 29px;
}
.increase-box .increase-num input{
	display: block;
	text-align: center;
	padding: 5px;
	height: 17px;
	line-height: 17px;
	background: #282119;
	width: 20px;
	font: inherit;
	color: #fff;
	border: 1px solid #282119;

	-webkit-transition: width 0.2s ease;
	-moz-transition: width 0.2s ease;
	-ms-transition: width 0.2s ease;
	-o-transition: width 0.2s ease;
	transition: width 0.2s ease;
}
.increase-box .increase-num input:focus{
	background: #fff;
	color: #282119;
	width: 30px;
}
.increase-box .increase-btn{
	width: 29px;
	height: 14px;
	background: #625745;
	line-height: 10px;
	position: absolute;
	right: 0;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.increase-box .increase-btn_up{top: 0;}
.increase-box .increase-btn_down{bottom: 0;}

.increase-box .increase-btn:hover{
	background: #282119;
}

.order-table .few{display: none}
.order-table .order-item_few .no-few{display: none}
.order-table .order-item_few .few{display: block}




.order-foot{}
.order-foot__left{
	float: left;
	width: 50%;
}
.order-foot__left .input-field{
	display: inline-block;
	margin-left: 7px;
	margin-right: 10px;
}
.order-foot__left .order-choosen{
	font-size: 14px;
	font-weight: 600;
}
.order-foot__left .order-choosendel{
	margin: 0 10px;
	font-size: 14px;
	height: 20px;
}
.order-foot__right{
	margin-left: 50%;
	text-align: right;
	padding: 5px 20px;
}
.order-foot__right .order-total{
	display: inline-block;
	font-weight: 600;
	vertical-align: baseline;
}
.order-foot__right .order-totalval{
	display: inline-block;
	vertical-align: baseline;
}
.order-foot__right .order-totalval .rub{
	font-size: 18px;
	margin: 0 15px;
}
.order-foot__right .order-totalval .rub i{
	font-weight: 600;
}
.order-foot__right .order-totalval .usd{
	color: #8c8984;
}


.order-result{
	margin: 20px 55px;
	overflow: hidden;
}
.order-result__delivery{
	float: left;
	background: #f7f7f7;
	width: 54%;
	font-weight: 300px;
}
.order-result__delivery .title{
	margin: 20px 25px 5px;
	font-size:20px ;
}
.order-result__delivery .text{
	margin: 5px 25px 25px;
}
.order-result__check{
	margin-left: 56%;
	background: #fcfcfc;
	border: 2px solid #282119;
}

.order-result i{
	font: inherit;
}
.order-result__check .info{
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
	margin: 20px 10px 10px;
}
.order-result__check .info__item{
	margin: 0 35px 5px;
	position: relative;
	font-size: 16px;
}
.order-result__check .info__item:before{
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #282119;
	top: 8px;
	left: -15px;
}
.order-result__check .info__val{
	float: right;
}
.order-result__check .info__val .rub{
	font: inherit;
	font-weight: 600;
}

.order-result__check .calc{
	margin: 10px 10px 15px;
}
.order-result__check .calc__item{
	margin: 0 35px 5px;
	position: relative;
	font-size: 18px;
	font-weight: 600;
}
.order-result__check .calc__item:before{
	content: '';
	display: block;
	position: absolute;
	height: 5px;
	width: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #282119;
	top: 8px;
	left: -15px;
}

.order-result__check .calc_val{
	float: right;
}
.order-result__check .calc_val .rub{
	color: #ff6e08;
}
.order-result__check .calc_val .usd{
	color: #282119;
	font-weight: 300;
	font-size: 16px;
}
.order-result .footnote{
	font-weight: 300;
	font-size: 14px;
	margin: 5px 30px 15px;
}
.order-result .footnote a{
	color: #ff6e08;
	text-decoration: none!important;
	border-bottom: 1px dashed #ff6e08;
}
.order-result .footnote a:hover{
	border-bottom-color: transparent;
}












.brands-nav{}
.brands-nav .btn{
	font-weight: 300;
	display: inline-block;
	text-align: center;
	text-decoration: none!important;
	border: 1px solid #000;
}
.brands-nav .btn:hover{
	background: #000;
	color: #fff;
}
.brands-nav .btn.active{
	background: #000;
	color: #fff;
}
.brands-nav .btn.disable,
.brands-nav .btn.disable:hover{
	color: #b8b8b8;
	background: none;
	cursor: default;
}
.brands-words{
	font-size: 0;
	margin: 9px 0;
}
.brands-words__item{
	font-size: 20px;
	height: 34px;
	width: 32px;
	line-height: 34px;
	margin-right: -1px;
	margin-bottom: 6px;
}

.brands-btns{
	margin: 9px 0;
}
.brands-btns__item{
	font-size: 16px;
	height: 24px;
	line-height: 22px;
	padding: 0 20px;
	margin-right: 5px;
}


.brands-group__title{
	font-size: 24px;
	font-weight: 600;
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5;
	margin: 15px 0;
}
.brands-group__item{
	display: inline-block;
	text-align: center;
	width: 130px;
	vertical-align: top;
	margin: 10px 10px 10px 0;
}
.brands-group__item .img{
	display: table;
	width: 130px;
	height: 60px;
}
.brands-group__item .img-box{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.brands-group__item .img img{
	max-width: 130px;
	max-height: 60px;
}
.brands-box hr{
	border-color:#000;
	margin-top: 20px;
}

.group-filter .brands-group{display:none;}
.class-filter .brands-group__item{display:none;}
.group-filter .brands-group.active{display:block;}
.class-filter .brands-group__item.active{display:inline-block;}
.class-filter .hide{display:none;}







.section_delivery{
	width: 650px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.section_delivery .title{
	font-size: 24px;
	font-weight: 400;
	margin: 15px 0;
}
.section_delivery .subtitle{
	font-size: 18px;
	font-weight: 600;
	color: #57524c;
	margin: 0px 0 10px;
	clear: both;
}
.section_delivery .field-group{
	margin: 18px 0;
}
.section_delivery .field-group_brdr{
	border: 1px solid #8c8984;
	padding: 5px 15px 15px;
}
.section_delivery .input-field{
	color: #282119;
	display: inline-block;
	margin-right: 10px;
}
.section_delivery .input-field .marker{top: 4px;}
.section_delivery .input-field img{vertical-align: middle;margin-left: 10px}
.section_delivery .input-field label{position:relative;vertical-align: middle;}
.section_delivery .input-field_main{
	font-size: 16px;
}
.section_delivery .field-info{
	margin: 10px 0;
}
.section_delivery .field-footnote{
	color: #807d7b;
}
.section_delivery .field-group_brdr.active{border-color: #ff6e08;}
.section_delivery .field-group_brdr.active .field-footnote a{color: #ff6e08;text-decoration: underline;}

.section_delivery-method .footnote{
	color: #ff6e08;
	font-weight: 300;
}

.section_order .next,
.section_delivery .next{
	text-align: center;
	margin: 20px 0;
}
.section_order .next .btn,
.section_delivery .next .btn{
	min-width: 275px;
	font-size: 20px;
	line-height: 28px;
	height: 32px;
	text-align: center;
}

.section_delivery-place .field-group_brdr{
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #ff6e08;
}
.section_delivery-place .btn_adress{
	height: 28px;
	line-height: 26px;
	padding: 0;
	text-align: center;
	width: 208px;
	float: right;
	font-weight: 400;
	border-color: #ff6e08;
	background: #ff6e08;
	margin-top: -5px;
}




.section_delivery .field-item{
	/*overflow: hidden;*/
}
.section_delivery .field-item_delivery-place{
	display: none;
}
.field-group.active .field-item_delivery-place{
	display: block;
}
.section_delivery .field-item__list{
	color: #57524c;
	font-weight: 200;
	font-size: 16px;
	line-height: 1.5;
	margin: 10px 0;
}
.section_delivery .field-item__map{
	margin: 10px 0;
	height: 280px;
	border: 1px solid #c4c2c1;
}
.section_delivery .field-item__list b{
	font-weight: 400;
	color: #282119;
}
.field-item__input .input{
	display: block;
	border: 1px solid #8c8984;
	height: 28px;
	line-height: 28px;
	padding: 0 10px;
	position: relative;
}
.field-item__input .input_autocomplete input{
	background: url("../img/global/list-arrow-down.png") no-repeat 101% 65%;
	border: none!important;
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.field-item__input .input_autocomplete input:focus{
	background-image: url("../img/global/list-arrow-up.png");
}



.field-item__input .input_autocomplete__select{
	position: absolute;
	display: none;
}
.field-item__input .input_autocomplete__result{
	position: absolute;
	top: 28px;
	border: 1px solid #8c8984;
	border-top: none;
	left: -1px;
	width: 100%;
	max-height: 300px;
	background: #fff;
	overflow: hidden;
}
.field-item__input .input_autocomplete.active .input_autocomplete__result{
	z-index: 100;
}
.field-item__input .input_autocomplete__result ul{
	font-weight: 300;
	margin: 0 10px;
	border-top: 1px solid #8c8984;
}
.field-item__input .input_autocomplete__result ul .ac-highlight{
	text-decoration: underline;
	font-weight: 400;
}







.field-item__input .message{
	font-size: 12px;
	font-weight: 300;
	padding: 2px 0 5px;
	min-height: 15px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}
.section_delivery .field-item__input.w15{
	width: 14.6666%;
}
.section_delivery .field-item__input.w33{
	width: 32.3333%;
}
.section_delivery .field-item__input.w50{
	width: 49%;
}
.section_delivery .field-item__input.w66{
	width: 65.6666%;
}
.section_delivery .field-item__input.w{
	float: left;
	margin-left: 2%;
}
.section_delivery .field-item__input.w:first-child {margin-left: 0;}
.section_delivery .field-item__input .btn {
	width: 100%;
	height: 28px;
	line-height: 26px;
	text-align: center;
	padding: 0;
}

.section_delivery-place .footnote{
	color: #57524c;
	font-weight: 300;
	font-size: 16px;
}


.section_delivery .field-item__input .input input{
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
.section_delivery .field-item__input.error *{
	color: #ff6e08!important;
	border-color: #ff6e08!important;
}


.section_delivery .field-item__input.error .message{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-khtml-opacity: 100;
	-moz-opacity: 100;
	opacity: 100;
}




.section_delivery-payment .field-group{
	margin: 0;
}
.section_delivery-payment .field-group .field-item-payment{
	border-bottom: 1px solid #d4d3d1;
}
.section_delivery-payment .field-group .field-item-payment .input-field_commission{
	float: right;
	margin-right: 0;
}
.section_delivery-payment .field-group .field-item-payment_info{display: none;}
.section_delivery-payment .field-group.active .field-item-payment_info{display: block;}
.section_delivery-payment .field-group .field-item-payment_info .price{margin: 10px 0;}
.section_delivery-payment .field-group .field-item-payment_info .price i{font: inherit}
.section_delivery-payment .field-group .field-item-payment_info .price .price__name{
	min-width: 180px;
	display: inline-block;
}
.section_delivery-payment .field-group .field-item-payment_info .price .price__rub{
	font-size: 16px;
	color: #ff6e08;
}
.section_delivery-payment .field-group .field-item-payment_info .note{
	margin: 10px 0;
	color: #807d7b;
}
.section_delivery-payment .field-group .field-item-payment_info .text{
	margin: 5px 0;
}
.section_delivery-payment .field-group .field-item-payment_info .confirm{
	margin: 5px 0 20px;
}
.section_delivery-payment .order-result{margin: 20px 0;}
.section_delivery-payment .order-result .order-result__check{margin: 0;}




.section_catalog b{
	font-weight: 600;
}


.user-info{
	border: 1px solid #e5e5e5;
	background: #fcfcfc;
	padding: 18px 20px;
	margin: 0 0 25px;
}
.catalog-title{
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 20px;
}
.catalog-filter{
	margin: 15px 0;
	border: 1px solid #e5e5e5;
	background: #fcfcfc;
	padding: 5px 15px;
}
.catalog-filter span{
	display: inline-block;
	vertical-align: middle;
}
.section_catalog_lk .btn_brdr{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	height: 20px;
	line-height: 18px;
	padding: 0 20px;
	margin: 0 10px;
}
.catalog-filter .input-daterange {
	border: 1px solid #e5e5e5;
	background: #fff;
	padding: 0 5px;
}
.catalog-filter .input-daterange .item_date{
	display: inline-block;
	vertical-align: middle;
}
.catalog-filter .input-daterange .date-input{
	border: none;
	padding: 0;
	margin: 0;
	width: 82px;
	background: url("../img/global/icon-date.png") no-repeat 100% 50%;
}

.catalog-table{
	margin: 15px 0;
}
.catalog-table table.orders{
	width: 100%;
	text-align: center;
}
.catalog-table table.orders tr{border: 1px solid #e5e5e5;}
.catalog-table table.orders th{
	background: #fcfcfc;
	padding: 5px 10px;
	font-weight: 400;
}
.catalog-table table.orders td{
	padding: 15px 10px;
	vertical-align: middle;
}
.color-light{color: #7e7d7b}


.catalog-table table.adress{
	width: 100%;
	text-align: left;
}
.catalog-table table.adress tr{border: 1px solid #e5e5e5;}
.catalog-table table.adress th{
	background: #fcfcfc;
	padding: 5px 10px;
	font-weight: 400;
}
.catalog-table table.adress td{
	padding: 15px 10px;
	vertical-align: middle;
}
.catalog-table table.adress .btn{
	margin: 0 3px;
}


.catalog-table table.settings{
	width: 100%;
	text-align: left;
	margin: 15px 0;
}
.catalog-table table.settings td{
	border-bottom: 1px solid #e5e5e5;
	padding: 3px 10px;
	height: 35px;
	vertical-align: middle;
}
.catalog-table table.settings .name{
	width: 150px;
	color: #7e7d7b;
}
.catalog-table table.settings .set{
	text-align: right;
}
.catalog-table table.settings .set .show{
	color: #ff6e08;
}
.catalog-table table.settings .val input{
	border: 1px solid #8c8984;
	padding: 5px 10px;
	margin: 2px 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.catalog-table table.settings .val input.date-input{
	background: url("../img/global/icon-date.png") no-repeat 97% 50%;
}
.catalog-table table.settings .set{
	white-space: nowrap;
}
.catalog-table table.settings .set .btn_brdr{
	padding: 5px 0;
	font-size: 16px;
	text-align: center;
	width: 140px;
	margin: 2px 3px;
}

.catalog-table table.settings .hide{
	display: none;
}
.catalog-table table.settings .change .hide{display: block;}
.catalog-table table.settings .change .show{display: none;}
.catalog-table table.settings .change .val,
.catalog-table table.settings .change .set{vertical-align: bottom;}
.catalog-table table.settings .change .set{width: 10px;}




.catalog-table table.password,
.catalog-table table.registration{width: 100%;}
.catalog-table table.password td,
.catalog-table table.registration td{padding: 5px 10px;}
.catalog-table table.registration td.title{
	font-size: 18px;
	font-weight: 600;
	padding-top: 15px;
}
.catalog-table table.password .name,
.catalog-table table.registration .name{white-space: nowrap;text-align: right;width: 100px;}
.catalog-table table.password .footnote,
.catalog-table table.registration .footnote{
	font-size: 12px;
	color: #7e7d7b;
	margin-top: 5px;
}
.catalog-table table.password input,
.catalog-table table.registration input{
	border: 1px solid #8c8984;
	padding: 4px 5px;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.catalog-table table.registration .size-1{width: 150px;}
.catalog-table table.registration .size-2{width: 250px;}
.catalog-table table.registration .size-3{width: 450px;}
.catalog-table table.registration .inpt-phone{padding-left: 30px;margin-right: 10px}
.catalog-table table.registration .inpt-phone-prefix{
	width: 25px;
	display: inline-block;
	text-align: right;
	margin-right: -25px;
	z-index: 1;
	position: relative;
}


.catalog-table table.password .btn_brdr,
.catalog-table table.registration .btn_brdr{
	font-size: 16px;
	margin: 0;
	padding: 3px 25px 4px;
	vertical-align: top;
}


.catalog-table .field-item .message{font-size: 12px;display: none;}
.catalog-table .field-item.error *{color: #ff6e08!important;border-color: #ff6e08!important;}
.catalog-table .field-item.error .message{display: block;opacity: 1;}


.catalog-table table.password .val{vertical-align: middle;}
.catalog-table table.password input{width: 250px;}







.catalog-text h2,
.catalog-text h3,
.catalog-text h4{
	margin: 18px 0 12px;
	font-weight: 600;
}
.catalog-text h4{
	margin: 18px 0 5px;
}
.catalog-text p{
	margin: 10px 0;
}



/*tabs*/
.contact-form{
	max-width: 615px;
}
.contact-form_menu{
	font-size: 0;
}
.contact-form_menu-item{
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	border: 1px solid #8b8783;
	padding:3px 5px 7px;
	min-width: 205px;
	cursor: pointer;
	text-align: center;
}
.contact-form_menu-item.active{
	color: #fff;
	border-color: #ff6e08;
	background: #ff6e08;
}
.contact-form_tabs-item{
	display: none;
	padding-top: 15px;
}
.contact-form_tabs-item.active{display: block;}

.contact-form .form_field{
	font-size: 14px;
	font-weight: 100;
	margin-top: 10px;
}
.contact-form .form_field .label{
	margin: 15px 0 3px;
}
.contact-form .form_field input,
.contact-form .form_field textarea{
	border: 1px solid #8b8783;
	width: 100%;
	padding: 5px 10px;
	margin: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-form .form_field textarea{
	resize: none;
	height: 150px;
}
.contact-form .form_field.error{color: #ff3300;}
.contact-form .form_field.error input{border-color: #ff3300;}
.contact-form .ls{
	width: 45%;
	float: left;
	margin-right: 10%;
}
.contact-form .rs{
	width: 45%;
	float: left;
}
.contact-form .btn_brdr{
	width: 216px;
	margin: 10px 0;
}

.ico-required{
	display: inline-block;
	width: 11px;
	height: 11px;
	position: relative;
	top: -5px;
	background: url("../img/global/ico-require.png") no-repeat 0 0;
}

/**/

.section_delivery-method,
.section_delivery-place,
.section_delivery-payment{
	display: none
}


.ie8-plaplaceholder{display: none;}



.section-auth,
.pass-recovery{
	width: 570px;
	padding: 30px;
	position: relative;
	margin: 50px auto;
	background: #fff;
}
.section-auth .title,
.pass-recovery .title{
	font-size: 34px;
	font-weight: 700;
	padding-bottom: 25px;
	border-bottom: 1px solid #d4d3d1;
	margin-bottom: 30px;
}
.section-auth .subtitle,
.pass-recovery .subtitle{
	font-size: 38px;
	font-weight: 200;
	margin-bottom: 15px;
}
.section-auth .subtitle span,
.pass-recovery .subtitle span{
	font-size: 16px;
	color: #807d7b;
}
.section-auth .color{
	color: #ff6e08;
	text-decoration: none;
}
.section-auth .text-q,
.pass-recovery .text-q{
	font-size: 16px;
	color: #ff6e08;
	margin-bottom: 10px;
}
.section-auth .error,
.pass-recovery .error{
	margin: 20px;
	color: #fd0820;
}

.section-auth .subscribe,
.pass-recovery .subscribe{
	margin-top: 20px;
	text-align: center;
}

.section-auth .tabs-nav-item{
	float: left;
	padding: 3px 5px 7px;
	border: 1px solid #8b8783;
	font-size: 14px;
	font-weight: 200;
	min-width: 210px;
	text-align: center;
	cursor: pointer;
}
.section-auth .tabs-nav-item.active{
	border: 1px solid #ff6e08;
	background: #ff6e08;
	color: #fff;
}
.section-auth .tabs-box-item{display: none;}
.section-auth .tabs-box-item.active{display: block;}

.section-auth .footnote{
	color: #807d7b;
	font-size: 14px;
	margin: 5px 0 20px;
}
.section-auth .info{
	color: #ff6e08;
	margin: 10px 0;
}
.section-auth table{
	margin: 10px 0;
}
.section-auth table .name{
	width: 135px;
	text-align: right;
	padding: 10px;
	vertical-align: top;
}
.section-auth table .link{
	width: 135px;
	padding: 10px;
	vertical-align: top;
}
.section-auth table .input{
	color: #807d7b;
	font-size: 13px;
	padding: 5px 0;
}
.section-auth table .input input{
	width: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px 10px;
	border: 1px solid #9b9794;
}
.section-auth .error input{
	border: 1px solid #fe7b88!important;
}
.section-auth .subscribe{text-align: left;}
.section-auth .subscribe p{margin: 5px 0;}
.section-auth .error-message{
	color: #fd0820;
	padding: 10px;
	background: #fffafb;
	margin: 10px 0;
}
.section-auth .input-field{color: #282119;}
.section-auth img.captcha{border: 1px solid #8b8783;}
.section-auth .input_captcha{width: 100px!important;}
.section-auth .btn_brdr{
	padding: 5px 15px 3px;
	min-width: 68px;
	margin-right: -1px;
}

.section-auth .input-date{
	white-space: nowrap;
	vertical-align: middle;
}
.section-auth .date{
	display: inline-block;
}
.section-auth .sbHolder {
	border: 1px solid #8b8783;
	border-radius: 0;
	height: 27px;
	position: relative;
}
.section-auth .date_day .sbHolder {width: 100px;}
.section-auth .date_month .sbHolder {width: 100px;}
.section-auth .date_year .sbHolder {width: 100px;}

.section-auth .input-sex {font-size: 0;vertical-align: middle}
.section-auth .input-sex .tabs-nav-item{
	font-size: 14px;
	display: inline-block;
	min-width: 0;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: -1px;
}











.section_wrong{
	text-align: center;
	font-size: 16px;
}
.section_wrong .wrong-logo{
	text-align: center;
	margin: 40px 0 110px;
}
.section_wrong .wrong-logo img{width: 200px;}
.section_wrong .wrong-name{
	font-size: 24px;
	color: #ff6e08;
	font-weight: 600;
	margin-bottom: 25px;
}
.section_wrong .wrong-title{
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 85px;
}
.section_wrong .wrong-info{
	font-size: 24px;
	font-weight: 100;
	color: #807d7b;
	margin-bottom: 25px;
}
.section_wrong .btn_brdr{
	width: 260px;
	margin: 8px 0 5px;
}
.search-input{
	 position: relative;
	 vertical-align: middle;
	 display:inline-block;
 }
.search-input input[type="text"]{
	border: 1px solid #282119;
	margin: 0;
	padding: 0 30px 0 10px;
	line-height: 24px;
	height: 24px;
}
.search-input input[type="button"]{
	border: none;
	margin: 0;
	padding: 0;
	height: 24px;
	width: 24px;
	cursor: pointer;
	background: url("../img/global/icon-search.png") no-repeat 50% 50%;
	position:  absolute;
	top: 1px;
	right: 1px;
}
.section_wrong .search-input{
	margin: 8px 0 5px;
}
.section_wrong .search-input input[type="text"]{
	width: 242px;
}




.header-nav li{position: relative;}
.order-status{
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -98px;
	border: 1px solid #282119;
	width: 175px;
	padding: 10px;
	z-index: 100;
	background: #fff;
	text-align: left;
	margin-top: 20px;
	font-size: 14px;
}
.order-status:before{
	content: '';
	position: absolute;
	left: 50%;
	margin-left: -14px;
	top: -28px;
	border: 14px solid transparent;
	border-bottom-color: #282119;
}
.order-status_close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url("../img/global/close.png") no-repeat 0 0;
}
.order-status_label{
	margin-bottom: 5px;
}
.order-status_num{
	margin: 5px 0 0;
}
.order-status_num input{
	border: 1px solid #8c8984;
	font: inherit;
	padding: 5px 10px;
	width: 153px;
	margin-bottom: 5px;
}
.order-status_btn{
	margin: 0 0 10px;
}
.order-status_btn .btn{
	width: 153px;
	text-align: center;
	margin-top: 5px;
}
.order-status_info{
	font-size: 12px;
	padding-left: 20px;
	position: relative;
}
.order-status_info:before{
	content: '';
	width: 13px;
	height: 13px;
	display: block;
	background: url("../img/global/info.png") no-repeat 0 0;
	position: absolute;
	top: 1px;
	left: 0;
}

.order-status_mes{
	font-size: 12px;
	padding: 7px 12px;
}
.order-status_mes.status-error{
	color: #fd0820;
	background: #fffafb;
}
.order-status_mes.status-ok{
	color: #008416;
	background: #fafffb;
}
.order-status_mes.status-waiting{
	color: #ff6e08;
	background: #fafffb;
}


