
.icon{
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: middle;
	margin-right: 2px;
}
.icon_login{
	width: 17px;
	height: 18px;
	background-image: url("../img/global/icon-login.svg");
}
.icon_logout{
	width: 17px;
	height: 18px;
	background-image: url("../img/global/icon-logout.svg");
}
.icon_account{
	width: 16px;
	height: 16px;
	background-image: url("../img/global/icon-account.svg");
}
.icon_cart{
	width: 16px;
	height: 16px;
	background-image: url("../img/global/icon-cart.svg");
}
.icon_heart{
	width: 16px;
	height: 16px;
	background-image: url("../img/global/icon-heart.svg");
}


.btn{
	color: #282119;
	display: inline-block;
	height: 24px;
	font-size: 16px;
	text-decoration: none !important;
	vertical-align: middle;
}
.btn span{
	line-height: 24px;
	vertical-align: middle;
	border-bottom: 1px dashed transparent;
}
.btn:hover span{
	line-height: 24px;
	vertical-align: middle;
	border-bottom-color: #282119;
}

.btn_brdr{
	border: 1px solid #282119;
	color: #282119;
	padding: 0 10px;
}
.btn_brdr span{
	border: none!important;
}
.btn_brdr:hover{
	border-color: #8b8783;
}

.btn_solid{
	color: #fff;
	background: #282119;
	border: 1px solid #282119;
}
.btn_solid span{
	border: none!important;
}
.btn_solid:hover{
	background: #8b8783;
	border-color: #282119;
}


.wrapper {
	width: 1280px;
	margin: 0 auto;
	min-height: 100%;
	background: #fff;
	}

.inner{
	margin: 0 55px;
}





/*checkbox & radio buttons*/

.input-field{
	display: block;
	position: relative;
	margin: 8px 0;
	color: #757b87;
	line-height: 1.2;
}
.input-field input{
	opacity: 0;
	margin: 0;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 0;
}
.input-field label{
	display: inline-block;
	padding-left: 17px;
	cursor: pointer;
}
.input-field .marker{
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fff;
	top: 3px;
	left: 0;
	border: 1px solid #cfcfcf;
}
.input-field input[type="checkbox"] + .marker{
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
}
.input-field input[type="checkbox"]:checked + .marker{
	background: url("../img/global/checkbox.svg") 50% 50% no-repeat;
	border-color: #282119;
}
.input-field input[type="radio"] + .marker{
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.input-field input[type="radio"]:checked + .marker:before{
	content: '';
	width: 9px;
	height: 9px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	margin: 3px;
}
.input-field input[type="checkbox"]:hover ~ span,
.input-field input[type="checkbox"]:checked ~ span,
.input-field input[type="radio"]:checked ~ span{
	color: #282119;
}








/*	Header start
*****************************************************************************/
.header {
	}

.header-nav{
	text-align: right;
	padding: 5px 0 8px;
	font-size: 16px;
}
.header-nav li{
	display: inline-block;
	margin-left: 20px;
}
.header-nav li a{
	vertical-align: middle;
}

.header-account{
	text-align: right;
	margin-top: 35px;
}
.header-account__item{
	margin-left: 18px;
}
.header-account__item i,
.header-account__item span
{
	vertical-align: middle;
	line-height: 24px;
}
.header-account__item span{
	border-bottom: 1px dashed transparent;
}
.header-account__item span:hover{
	border-bottom: 1px dashed #282119;
}
.header-account__cart{
}
.header-account__cart .num{
	padding-left: 10px;
	position: relative;
	margin-left: 5px;
}
.header-account__cart .num:before{
	content: '';
	width: 1px;
	height: 26px;
	background: #fff;
	display: block;
	position: absolute;
	top: -3px;
	left: 0;
}

.header-account__cart:hover{
	background: #8b8783;
	color: #fff;
	text-decoration: none;
}
.header-account__cart:hover span{
	border: none;
}

.header-account__input{
	position: relative;
	margin-left: 5px;
	vertical-align: middle;
	display:inline-block;
}
.header-account__input input[type="text"]{
	border: 1px solid #282119;
	margin: 0;
	padding: 0 30px 0 10px;
	line-height: 24px;
	height: 24px;
}
.header-account__input input[type="button"]{
	border: none;
	margin: 0;
	padding: 0;
	height: 24px;
	width: 24px;
	cursor: pointer;
	background: url("../img/global/icon-search.svg") no-repeat 50% 50%;
	position:  absolute;
	top: 1px;
	right: 1px;
}

.header-slog{
	color: rgba(40, 33, 25, 0.71);
}

/*****************************************************************************
	Header end */


.nav{
	margin: 20px 0 35px;
}
.nav-list{
	position:relative;
	display: inline-table;
}
.nav-item{
	/*display: inline-block;*/
	font-size: 16px;
	padding-right: 25px;
	position:relative;
	display: table-cell;
}
.nav-link{
	text-transform: uppercase;
	text-decoration:none!important;
	position:relative;
	padding-bottom:7px;
}
.nav-item:hover .nav-link:before{
	content:'';
	width:1px;
	height:30px;
	display:block;
	position:absolute;
	background:#d4d3d1;
	bottom:0;
	left:-15px;
}
.nav-item_action{
	color: #fd0820;
}

.nav-item:hover .subnav{
	display:block;
}

/**/

.tt{
	display:inline-table;
	float:none!important;
}
.tc{
	display:table-cell;
	float:none!important;
	vertical-align:top;
}

.subnav{
	position:absolute;
	z-index:100;
	text-transform:none;
	border:1px solid #d4d3d1;
	background:#fff;
	line-height:1.4;
	margin-top:7px;
	margin-left:-15px;
	border-right:none;
	display:none;
}
.subnav-menu{
	font-size:16px;
	padding:15px;
	float:left;
	background:#fcfcfc;
}
.subnav-menu a{
	display:block;
	position:relative;
	text-decoration:none;
	padding-right:30px;
	color:#7e7d7b;
	line-height:1.5;
}
.subnav-menu a:after{
	content:'';
	display:block;
	border-top:1px solid #7e7d7b;
	border-right:1px solid #7e7d7b;
	width:5px;
	height:5px;
	position:absolute;
	top:12px;
	right:10px;
	opacity:0;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.subnav-menu a.active{
	color:#282119;
}
.subnav-menu a.active:after{
	right:0;
	opacity:1;
}
.subnav-cat{
	font-size:14px;
	/*padding:15px;*/
}
.cat-part{
	padding:15px;
	border-right:1px solid #d4d3d1;
}
.subnav-cat .cat-title{
	font-size:16px;
	margin-bottom:5px;
}

.subnav-cat a{
	display:block;
	white-space:nowrap;
	color:#7e7d7b;
	text-decoration:none!important;
	position:relative;
	left:0;
	padding-right:30px;
	transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-webkit-transition:all 0.2s ease;
}
.subnav-cat a:before{
	content:'';
	display:block;
	border-top:1px solid #7e7d7b;
	border-right:1px solid #7e7d7b;
	width:5px;
	height:5px;
	position:absolute;
	top:7px;
	left:-10px;
	opacity:0;
	transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	transition:opacity 0.2s ease;
	-moz-transition:opacity 0.2s ease;
	-webkit-transition:opacity 0.2s ease;
}
.subnav-cat a:hover{
	color:#282119;
	left:10px;
}
.subnav-cat a:hover:before{
	opacity:1;
}

.cat-wrap{display:none;}
.cat-wrap.active{display:block;}


/**/





















.section-title{
	overflow: hidden;
	position: relative;
	margin: 50px 0 30px;
}
.section-title .line{
	position: absolute;
	height: 1px;
	width: 100%;
	background: #d4d3d1;
	top: 50%;
	left: 0;
}
.section-title .text{
	float: left;
	font-weight: 100;
	font-size: 24px;
	color: #282119;
	text-transform: uppercase;
	background: #fff;
	padding-right: 20px;
	position: relative;
	line-height: 24px;
}
.section-title .link{
	float: right;
	font-weight: 100;
	font-size: 16px;
	color: #282119;
	line-height: 24px;
	background: #fff;
	padding-left: 20px;
	position: relative;
}
.section-title .link:after{
	content: '';
	display: inline-block;
	border: 5px solid transparent;
	border-left-color: #282119;
	margin-left: 7px;
	position: relative;
	top: 1px;
}


.section_menu .menu-list{
	display: inline-table;
	width: 100%;
	padding: 20px 0;
	font-size: 12px;
}
.section_menu .menu-item{
	display: table-cell;
	text-align: center;
}


.bigposter{
	position: relative;
}
.bigposter-img img{
	width: 100%;
}
.bigposter-btn{
	color: #282119;
	height: 24px;
	position: absolute;
	top: 60%;
	left: 6.4%;
}
.bigposter-btn::after{
	content: '';
	display: inline-block;
	border: 5px solid transparent;
	border-left-color: #282119;
	margin-left: 10px;
	margin-right: -5px;
}



.section_posters{}
.posters-list{
	margin: 0 -12px;
}
.posters-item{
	display: block;
	float: left;
	width: 374px;
	width: 33.3333%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:  8px 12px;
	text-align: center;
}
.posters-img{
	background: #f7f7f7;
	/*height: 476px;*/
}
.posters-img img{
	display: block;
	width: 100%;
}
.posters-item_sml .posters-img{
	/*height: 205px;*/
}
.posters-text{
	background: #ededed;
	font-size: 14px;
	color: #424242;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	height: 50px;
}
.posters-text:after{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.posters-text span{
	display: inline-block;
	vertical-align: middle;
	width: 95%;
}
.subscribe{
	margin-top: 70px;
}
.subscribe .inner{
	background: #fcfcfc;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
.subscribe__title{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 0 7px;
	vertical-align: middle;
}
.subscribe__text{
	display: inline-block;
	font-size: 14px;
	font-weight: 100;
	margin: 0 7px;
	vertical-align: middle;
}
.subscribe__form{
	display: inline;
	font-size: 0;
	vertical-align: middle;
}
.subscribe__form-input{
	border: 1px solid #282119;
	height: 24px;
	width: 185px;
	margin: 0;
	padding: 0 7px;

	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	border-right: none;

}
.subscribe__form-btn{
	background: #282119;
	border: 1px solid #282119;
	height: 24px;
	color: #fff;
	line-height: 20px;
	width: 130px;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}
.subscribe__form-btn:hover{
	background: #8b8783;
	color: #fff;
	text-decoration: none;
}

.breadcrumbs{
	padding: 10px 0;
	font-weight: 100;
}
.breadcrumbs-item{
	display: inline-block;
}
.breadcrumbs-item:before{
	content: '/';
	display: inline-block;
	margin: 0 5px 0 3px;
}
.breadcrumbs-item:first-child:before{
	content: '';
	margin: 0;
}














.section_description{
	background: #fcfcfc;
	padding: 30px 0 40px;
}

.description-title{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
.description-list{
	margin: 10px 0 15px;
}
.description-list li{
	list-style: disc;
	margin-left: 15px;
}
.description-list .dim{
	width: 180px;
	border-bottom: 1px dotted #282119;
}
.description-list .dim .dim-val{
	float: right;
	padding-left: 3px;
}
.description-list .dim .dim-key{
	padding-right: 3px;
}
.description-list .dim .dim-val,
.description-list .dim .dim-key{
	background: #fcfcfc;
	position: relative;
	bottom: -1px;
	display: inline-block;
}


.section_description .title{
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 40px;
}
.section_description .description{
	margin: 0 10% 0 20%;
}
.description-aside{
	width: 50%;
	float: left;
}

.description-cond__title{
	margin: 10px 0;
}
.description-cond__title span{
	display: inline-block;
	vertical-align: middle;
	min-width: 75px;
}
.description-cond__text .more{
	font-size: 12px;
	color: #a8a7a5;
	display: block;
	margin: 10px 0 30px;
	font-weight: 100;
}






.section_wear .inner{
	padding: 15px 0 60px;
}
.section_wear .wear-img{
	margin-top: 20px;
	width: 60%;
	float: left;
	display: inline-table;
}
.wear-img__preview{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.wear-img__preview-item{
	width: 50px;
	height: 80px;
	border: 1px solid #fff;
	cursor: pointer;
	margin: 5px;
	display: block;
}
.wear-img__preview-item.active,
.wear-img__preview-item:hover{
	width: 50px;
	height: 80px;
	border-color: #d4d3d1;
}
.wear-img__preview-item img{
	height: 100%;
}
.wear-img__big{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.section_wear .wear-descr{
	margin-left: 60%;
}

.wear-descr__info{
	display: inline-table;
	width: 100%;
}
.wear-descr__info-text{
	display: table-cell;
	vertical-align: middle;
}
.wear-descr__info-logo{
	display: table-cell;
	width: 10%;
	vertical-align: middle;
}
.wear-descr__color{
	border-top: 1px solid #a9a6a3;
	border-bottom: 1px solid #a9a6a3;
	padding: 17px 0;
	overflow: hidden;
}
.wear-descr__color-title{
	float: left;
}
.wear-descr__color-list{
	margin-left: 45px;
}
.wear-descr__color-item{
	display: inline-block;
	width: 68px;
	height: 68px;
	border: 1px solid #d4d3d1;
	margin: 3px;
	cursor: pointer;
}
.wear-descr__color-item:hover,
.wear-descr__color-item.active{
	border-color:#282119;
}

.wear-descr__add{
	margin-top: 50px;
}

.wear-descr__add .btn{
	display: block;
	width: 280px;
	font-size: 20px;
	text-align: center;
	font-weight: 100;
	height: 34px;
	line-height: 34px;
	margin-bottom: 5px;
}
.wear-descr__price{
	font-size: 30px;
}
.wear-descr__text{
	text-decoration: none;
	margin: 10px 0;
}
.wear-descr__text a{
	color: #969492;
	text-decoration: none;
}
.wear-descr__text a:hover{
	text-decoration: underline;
}
.wear-descr__share {
	padding: 30px 0;
}
.wear-descr__share span{
	display: inline-block;
	border-right: 1px solid #282119;
	vertical-align: middle;
	padding-right: 10px;
	margin-right: 20px;
}
.wear-descr__share a{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	opacity: 0.4;
}
.wear-descr__share a:hover{
	opacity: 1;
}









/*	Footer start
*****************************************************************************/
.footer {
	position: relative;
	}

.footer__nav{
	padding: 20px 0;
}
.footer__nav-list{
	width: 25%;
	float: left;
}
.footer__nav-item {
	margin-bottom: 7px;
}
.footer__nav-item a{
	font-weight: 100;
	text-transform: uppercase;
}
.footer__nav-item_title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}
.footer__nav .phone{
	font-size: 24px;
	font-weight: 100;
}
.footer__nav .email{
	font-size: 20px;
	font-weight: bold;
}


.footer__rights{
	text-align: center;
	color: #959595;
	font-weight: 100;
	border-top: 1px solid #d4d3d1;
	border-bottom: 1px solid #d4d3d1;
	padding: 8px 0 13px;
}
.footer__credit{
	margin:28px 0;
}
.footer__credit .credit-card{
	display:inline-block;
	border:1px solid #c6c6c6;
	margin-right:7px;
}
.footer__credit .credit-card img{
	display:block;
}
.footer__copy{
	font-size:12px;
	color:#959595;
	margin:28px 0;
}

/*****************************************************************************
	Footer end */









.carousel-wrap{
	padding: 0 70px;
	margin: 30px 0;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next{
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 31px;
	height: 61px;
	text-indent: -9999px;
	opacity: .3;
}
.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover{
	opacity: 1;
}
.carousel .owl-nav .owl-prev{
	background: url("../img/global/carousel-prev.svg") no-repeat 50% 50%;
	left: -70px;
}
.carousel .owl-nav .owl-next{
	background: url("../img/global/carousel-next.svg") no-repeat 50% 50%;
	right: -70px;
}






.carousel_category .owl-item{
	height: 240px;
}
.carousel_category .carousel-img{
	height: 170px;
	width: 170px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fff;
	margin: 20px auto 15px;
	overflow: hidden;
}
.carousel_category .carousel-img img{
	display: block;
}
.carousel_category .carousel-txt{
	text-align: center;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}
.carousel_category .owl-item:nth-child(5n-5){
	background: #e5a5f1;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlNWE1ZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjN2QzY2IyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #e5a5f1 0%, #7d3cb2 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#e5a5f1), color-stop(100%,#7d3cb2));
	background: -webkit-radial-gradient(center, ellipse cover,  #e5a5f1 0%,#7d3cb2 100%);
	background: -o-radial-gradient(center, ellipse cover,  #e5a5f1 0%,#7d3cb2 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #e5a5f1 0%,#7d3cb2 100%);
	background: radial-gradient(ellipse at center,  #e5a5f1 0%,#7d3cb2 100%);
}
.carousel_category .owl-item:nth-child(5n-4){
	background: #f1c33a;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMWMzM2EiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTc1NTFiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #f1c33a 0%, #e7551b 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f1c33a), color-stop(100%,#e7551b));
	background: -webkit-radial-gradient(center, ellipse cover,  #f1c33a 0%,#e7551b 100%);
	background: -o-radial-gradient(center, ellipse cover,  #f1c33a 0%,#e7551b 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #f1c33a 0%,#e7551b 100%);
	background: radial-gradient(ellipse at center,  #f1c33a 0%,#e7551b 100%);
}
.carousel_category .owl-item:nth-child(5n-3){
	background: #acf559;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhY2Y1NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzJiNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #acf559 0%, #72b707 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#acf559), color-stop(100%,#72b707));
	background: -webkit-radial-gradient(center, ellipse cover,  #acf559 0%,#72b707 100%);
	background: -o-radial-gradient(center, ellipse cover,  #acf559 0%,#72b707 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #acf559 0%,#72b707 100%);
	background: radial-gradient(ellipse at center,  #acf559 0%,#72b707 100%);
}
.carousel_category .owl-item:nth-child(5n-2){
	background: #a8e5ff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNhOGU1ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNDlhM2M3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #a8e5ff 0%, #49a3c7 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#a8e5ff), color-stop(100%,#49a3c7));
	background: -webkit-radial-gradient(center, ellipse cover,  #a8e5ff 0%,#49a3c7 100%);
	background: -o-radial-gradient(center, ellipse cover,  #a8e5ff 0%,#49a3c7 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #a8e5ff 0%,#49a3c7 100%);
	background: radial-gradient(ellipse at center,  #a8e5ff 0%,#49a3c7 100%);
}
.carousel_category .owl-item:nth-child(5n-1){
	background: #fcb7ac;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmY2I3YWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNjkxMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  #fcb7ac 0%, #691000 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcb7ac), color-stop(100%,#691000));
	background: -webkit-radial-gradient(center, ellipse cover,  #fcb7ac 0%,#691000 100%);
	background: -o-radial-gradient(center, ellipse cover,  #fcb7ac 0%,#691000 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #fcb7ac 0%,#691000 100%);
	background: radial-gradient(ellipse at center,  #fcb7ac 0%,#691000 100%);
}




.prodcard-item{
	height: 520px;
	border: 1px solid #fff;
	padding: 0 9px;
	transition: border-color 0.15s ease;
	position: relative;
}
.prodcard-item:hover{
	border-color: #d4d3d1;
}
.prodcard-img{
	text-align: center;
	height: 350px;
}
.prodcard-item img{
	max-height: 100%;
	max-width: 100%;
}
.prodcard-type{
	text-align: center;
	border-bottom: 1px solid #d4d3d1;
	padding: 6px 0 5px;
	height: 50px;
}
.prodcard-type__link{
	display: none;
	margin: 0 5px;
	border: 1px solid transparent;
	height: 50px;
}
.prodcard-type__link:hover{
	border: 1px solid #d4d3d1;
}
.prodcard-type__text{
	display: block;
	text-align: left;
	margin-top: 25px;
}


.prodcard-item:hover .prodcard-type__link{display: inline-block;}
.prodcard-item:hover .prodcard-type__text{display: none;}

.prodcard-txt {
	padding-top: 8px;
}
.prodcard-txt .title{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #282119;
	font-weight: 600;
	margin-bottom: 4px;
}
.prodcard-txt .descr{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: 100;
	margin-bottom: 4px;
}
.prodcard-txt .price{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #897e72;
	font-size: 16px;
	font-weight: 100;
}
.prodcard-txt .favorite{

	position: absolute;
	left: 10px;
	bottom: 10px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.prodcard-txt .favorite i,
.prodcard-txt .favorite span {
	vertical-align: middle;
	line-height: 24px;
}
.prodcard-txt .favorite span{
	border-bottom: 1px dashed transparent;
}
.prodcard-txt .favorite span:hover{
	border-bottom: 1px dashed #282119;
}



.prodcard-txt .buy{
	font-size: 16px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	opacity: 0;
	transition: opacity 0.2s ease;
}
.prodcard-txt .buy i,
.prodcard-txt .buy span {
	vertical-align: middle;
	line-height: 24px;
}
.prodcard-txt .buy:hover{
	background: #8b8783;
	color: #fff;
	text-decoration: none;
}

.prodcard-item:hover .prodcard-txt .favorite{opacity: 1;}
.prodcard-item:hover .prodcard-txt .buy{opacity: 1;}










.carousel_brands .owl-item{
	height: 80px;
	text-align: center;
}
.carousel_brands .carousel-img img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
}




.catalog-nav{
	width:250px;
	float:left;
}
.catalog-nav__title{
	font-size: 16px;
	font-weight: 100;
	margin: 7px 0;
}
.catalog-nav__list{
	margin-left: 20px;
	color: #7e7d7b;
}
.catalog-nav__list a{
	position: relative;
	left: 0;
	display: inline-block;
	margin: 2px 0;
	transition: left 0.15s ease;
}
.catalog-nav__list a:before {
	border-right: 1px solid #7e7d7b;
	border-top: 1px solid #7e7d7b;
	content: "";
	display: block;
	height: 5px;
	left: -10px;
	opacity: 0;
	position: absolute;
	top: 7px;
	transform: rotate(45deg);
	transition: opacity 0.2s ease 0s;
	width: 5px;
}
.catalog-nav__list a:hover,
.catalog-nav__list a.active{
	color: #282119;
	text-decoration: none;
	left: 10px;
}
.catalog-nav__list a:hover:before,
.catalog-nav__list a.active:before {
	opacity: 1;
}

.catalog-nav__filters {
	margin: 30px 0;
}
.catalog-nav__filters .filter{
	border: 1px solid #d4d3d1;
	margin-bottom: -1px;
}
.catalog-nav__filters .filter-title{
	padding: 0 10px;
	height: 33px;
	font-size: 16px;
	line-height: 33px;
}

.filter-title_in{
	cursor: pointer;
	position: relative;
}
.filter-title_in:after{
	content: '';
	position: absolute;
	width: 15px;
	height: 1px;
	background: #68635e;
	top: 17px;
	right: 10px;
}
.filter-title_in:before{
	content: '';
	position: absolute;
	width: 1px;
	height: 15px;
	background: #68635e;
	top: 10px;
	right: 17px;
}
.filter.open .filter-title_in:before{
	display: none;
}
.filter-title_in + .filter-inner{
	display: none;
}
.filter.open .filter-title_in + .filter-inner{
	display: block;
}


.catalog-nav__filters .filter_color .colors-list{
}
.colors-picker .colors-pick {
	background: #f6f6f6;
	padding: 4px 30px 4px 4px;
	position: relative;
	margin: 4px 0;
}
.colors-picker .colors-pick__color {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-right: 5px;
}
.colors-picker .colors-pick__name {
	display: inline-block;
	vertical-align: middle;
}
.colors-picker .colors-pick__close {
	display: inline-block;
	position: absolute;
	top: 8px;
	right: 10px;
	width: 15px;
	height: 15px;
	background: url("../img/global/clear.svg") no-repeat 50% 50%;
	cursor: pointer;
	opacity: 0.7;
}
.colors-picker .colors-pick__close:hover{opacity: 1}
.catalog-nav__filters .filter_color .color-item{
	width: 47px;
	height: 27px;
	display: inline-block;
	margin-bottom: 2px;
	cursor: pointer;
}
.catalog-nav__filters .filter-inner{
	padding: 10px;
}

.slider-line{
	position: relative;
	height: 3px;
	background: #d4d3d1;
	margin: 20px 0 30px;
}
.slider-line__from{
	position: absolute;
	top: -20px;
	left: 0;
	text-align: left;
	color: #7e7d7b;
}
.slider-line__to{
	position: absolute;
	top: -20px;
	right: 0;
	text-align: right;
	color: #7e7d7b;
}
.ui-slider-handle{
	width: 6px;
	height: 9px;
	background: #282119;
	position: absolute;
	margin: 8px 0 0 -3px;
}
.ui-slider-handle:before{
	content: '';
	border: 3px solid transparent;
	border-bottom-color: #282119;
	position: absolute;
	top: -6px;
	left: 0;
}
.ui-slider-range{
	position: absolute;
	background: #282119;
	top: 0;
	height: 3px;
}


.catalog-nav__filters .slider-input{
	text-align: center;
}
.catalog-nav__filters .slider-input span{
	display: inline-block;
	vertical-align: middle;
	color: #7e7d7b;
}
.catalog-nav__filters .slider-input span input{
	display: inline-block;
	border: 1px solid #d4d3d1;
	width: 65px;
	text-align: center;
	margin: 0 3px;
}

.filter-clear{
	text-align: right;
	padding-top: 15px;
}



.catalog-content{
	margin-left:255px;
}
.catalog-list{}
.catalog-list__head{
	overflow: hidden;
	border-bottom: 1px solid #d4d3d1;
	padding: 10px;
}
.catalog-list__title{
	font-weight: bold;
	font-size: 20px;
	float: left;
}
.catalog-list__control{
	float: right;
	white-space: nowrap;
}
.catalog-list__paginator{display: inline-block}
.catalog-list__control-btns{display: inline-block}

.catalog-list__control-btns .control-btn{
	cursor: pointer;
	border-left:1px solid #d4d3d1;
	padding: 0 45px 0 15px;
	position: relative;
}
.catalog-list__control-btns .control-btn:before,
.catalog-list__control-btns .control-btn:after{
	content: '';
	border: 7px solid transparent;
	border-top-color: #8f8b87;
	position: absolute;
	top: 7px;
	right: 10px;
}
.catalog-list__control-btns .control-btn:after{
	border-top-color: #fff;
	top: 6px;
}


.catalog-list__control-btns .control-btn.active:before,
.catalog-list__control-btns .control-btn.active:after{
	border: 7px solid transparent;
	border-bottom-color: #8f8b87;
	top: 0;
}
.catalog-list__control-btns .control-btn.active:after{
	border-bottom-color: #fff;
	top: 1px;
}


.pagin-btn{
	display: inline-block;
	padding: 0 3px 2px;
}
.pagin-btn_page.active{
	background: #282119;
	color: #fff;
	text-decoration: none!important;
}
.pagin-btn_prev,
.pagin-btn_next{
}
.pagin-btn_prev:after,
.pagin-btn_next:after{
	content: '';
	border: 5px solid transparent;
	display: inline-block;
}
.pagin-btn_prev:after{
	border-right-color: #282119;
}
.pagin-btn_next:after{
	border-left-color: #282119;
}
.catalog-list__menu-target .menu-list{
	text-align: center;
	display: none;
	border-bottom: 1px solid #d4d3d1;
	color: #7e7d7b;
}
.catalog-list__menu-target .menu-list.active{display: block;}
.catalog-list__menu-target .menu-item{
	display: inline-block;
}
.catalog-list__menu-target .menu-link{
	padding: 5px 10px 8px;
	display: inline-block;
}
.catalog-list__menu-target .menu-link.active{
	color: #282119;
}



.filter .checkbox_list{
	max-height: 300px;
}





.catalog-list .prodcard-list{
	overflow: hidden;
	margin: 30px 0;
}
.catalog-list .prodcard-item{
	margin:10px;
	width:27%;
	float:left;
	box-sizing:border-box;
}
.catalog-list .prodcard-item:nth-of-type(3n-1){
	margin:10px 65px;
}